/* 头部 */
header {
    height: 205px;
    width: 100%;
    margin: 0px auto;
}

.headerTop {
    width: 100%;
    background-color: #F5F5F5;
    height: 28px;
    font-family: Arial, Microsoft Yahei, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    position: fixed;
    top: 0px;
    border: 1px solid #ccc5c2;
    border-left: none;
    border-right: none;
    z-index: 2;
}

.navTop {
    width: 1200px;
    margin: 0px auto;
    height: 28px;
    line-height: 28px;
}

.navLeft {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    float: left;
}

.navLeft li {
    margin: 0px 5px;
    float: left;
}

.navLeftLogin>a {
    color: #57B6FD;
}

.navLeftEnroll>a {
    color: #7F7F7F;
}

.navLeftEnroll>a:hover {
    color: #57B6FD;
}

.navRight {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    float: right;
}

.navRight>ul>li {
    height: 28px;
    line-height: 28px;
    margin-left: 20px;
    float: right;
}

.navRight>ul>li:nth-child(4) {
    margin-left: 10px;
}

.navRightService>a {
    color: #57B6FD;
}

.navRightCity>a {
    margin: 0px auto;
    color: #57B6FD;
}

.navRightService:hover em {
    background-image: url('../img/xiala.png');
    transform: rotate(180deg);
}

.navRightCity:hover em {
    background-image: url('../img/xiala.png');
    transform: rotate(180deg);
}

.navRightNormal {
    color: #7F7F7F;
}

.navRightNormal>a {
    color: #7F7F7F;
}

.navRightCityList span {
    color: #57B6FD;
    margin-right: 28px;
}

.navRightServiceList {
    border: 1px solid #ccc5c2;
    background-color: white;
    border-top: none;
    overflow: hidden;
    height: 0px;
    transition-duration: 1s;
    padding: 0px;
}

.navRightServiceList a {
    display: inline-block;
    width: 48.344px;
    height: 28px;
    line-height: 28px;
    color: #7F7F7F;
    padding: 4.5px;
}

.navRightServiceList a:hover {
    color: white;
    background-color: #377FE2;
}

.navRightCityList {
    border: 1px solid #ccc5c2;
    display: none;
    position: absolute;
    background-color: white;
    border-top: none;
    padding: 10px;
    width: 310.69px;
}

.navRightCityList a {
    padding: 5px;
    color: #7F7F7F;
}

.navRightCityList a:hover {
    color: white;
    background-color: #57B6FD;
    border-radius: 10px;
}

.navRightService:hover>.navRightServiceList {
    height: 111px;
}

.navRightCity:hover>.navRightCityList {
    display: block;
    animation: show;
    animation-duration: 0.5s;
}


.headerMiddle {
    width: 1200px;
    height: 55px;
    background-image: url('../img/indexTop.png');
    margin: 0px auto;
    position: relative;
    top: 30px;
}

.headerBottom {
    width: 1200px;
    height: 120px;
    margin: 0px auto;
    display: flex;
    background-color: white;
    position: relative;
    top: 30px
}

.logo {
    display: block;
    width: 180px;
    height: 120px;
}

.logo>a {
    display: block;
    width: 180px;
    height: 60px;
    margin: 30px 0px;
}

.city {
    display: inline-block;
    width: 50px;
    height: 20px;
    line-height: 20px;
    margin: 50px 0px;
    color: #7F7F7F;
    user-select: none;
}

.citySelectList {
    border: 1px solid #ccc5c2;
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    width: 310.69px;
    z-index: 1;
}

.city:hover>.citySelectList {
    display: block;
    animation: show;
    animation-duration: 0.5s;
}

.city>span {
    cursor: pointer;
    font-family: Microsoft YaHei, Arial, Hiragino Sans GB, Georgia, "serif";
}

.city:hover em {
    background-image: url('../img/xiala.png');
    transform: rotate(180deg);
}

.citySelectList li {
    height: 28px;
    line-height: 28px;
}

.citySelectList a {
    padding: 5px;
    color: #7F7F7F;
}

.citySelectList span {
    color: #57B6FD;
    margin-right: 28px;
}

.citySelectList a:hover {
    color: white;
    background-color: #57B6FD;
    border-radius: 10px;
}

.search {
    width: 720px;
    height: 70px;
    margin: 40px 0px 10px 50px;
    font-size: 15px;
}

.search>input {
    font-family: Microsoft YaHei, Arial, Hiragino Sans GB, Georgia, "serif";
}

.search>input:focus {
    font-family: Microsoft YaHei, Arial, Hiragino Sans GB, Georgia, "serif";
}

.search>input {
    width: 606px;
    height: 36px;
    border: 2px solid #377FE2;
    padding-left: 10px;
    outline: none;
    float: left;
}

.searchButton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #377FE2;
    border: none;
    outline: none;
    color: white;
    font-family: Microsoft YaHei, Arial, Hiragino Sans GB, Georgia, "serif";
    cursor: pointer;
}

.keyword>a {
    font-family: Microsoft YaHei, Arial, Hiragino Sans GB, Georgia, "serif";
    color: #7F7F7F;
    margin-right: 5px;
    font-size: 12px;
}

.keyword {
    width: 720px;
    height: 30px;
    line-height: 30px;
}

.keyword>a:hover {
    color: #57B6FD;
}

.phone {
    width: 200px;
    height: 40px;
    text-align: center;
    margin: auto;
}

.phone>img:nth-child(2) {
    position: relative;
    top: 4px;
}

/* 中部 */
section {
    width: 1200px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

.sectionList {
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #377FE2;
    box-sizing: border-box;
}

.sectionList li {
    float: left;
    text-align: center;
    font-size: 16px;
}

.sectionList a {
    display: block;
    color: black;
    height: 50px;
    width: 64px;
    padding: 0px 30px;
}

.sectionList li:hover a {
    background-color: #377FE2;
    color: white;
}

.sectionList>ul>li:last-child>a {
    background-color: #377FE2;
    color: white;
}

.sectionTop {
    height: 50px;
    line-height: 50px;
}

.sectionTop>a {
    float: left;
    display: block;
    width: 80px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.sectionTop>a:last-child {
    color: #28B5FD;
}

.sectionTop>a:nth-child(2):hover {
    color: #377FE2;
}

.sectionContent>div {
    width: 900px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
}

.sectionContent span {
    font-weight: bold;
}

.sectionContent input {
    width: 500px;
    height: 35px;
    line-height: 35px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 10px;
    outline: none;
}

.sectionContent input:focus {
    border: 1px solid #8EBADE;
    box-shadow: 0px 0px 5px #8EBADE;
}

.postDemand {
    width: 500px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    background-color: #FFCA00;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 40px auto;
}

.demandTitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 40px auto;
}

/* 底部 */
footer {
    width: 1200px;
    height: 300px;
    margin: 0px auto;
    background-color: rgba(240, 199, 122, 0.8);
    position: relative;
}

.footerLeft {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 25px;
    margin: 30px;
}

.footerLeft>p {
    margin: 20px 0px;
    color: white;
    font-size: 15px;
}

.footerMiddle {
    width: 700px;
    height: 200px;
    position: absolute;
    top: 25px;
    left: 250px;
    color: #7F7F7F;
    font-size: 15px;
    margin: 30px;
}

.footerMiddle>a {
    color: white;
}

.footerMiddle>hr {
    margin: 5px 0px;
}

.footerMiddleContent {
    width: 100px;
    height: 150px;
    float: left;
    margin: 0px 37.5px;
    text-align: center;
}

.footerMiddleContent>p {
    margin: 10px 0px;
}

.footerMiddleContent a {
    color: white;
}

.footerRight {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 25px;
    left: 1000px;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 15px;
    color: white;
    text-align: center;
}

.footerBottom {
    width: 1200px;
    height: 30px;
    position: absolute;
    top: 250px;
    line-height: 30px;
    text-align: center;
}

.footerBottom>a {
    font-size: 15px;
    color: white;
}